/* Layout  - for home, sidebar, spacing, etc. Certain components, like the sidebar, have their own styles too */
.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background-color: var(--sidebar-color);
  padding: 2rem;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  right: 0;
  top: 0;
  z-index: 6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 3rem;
  padding-top: 100px; /* Add padding to account for fixed navbar */
  flex: 1;
  margin: 50px;
  margin-right: 350px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--background-color);
  padding: 30px;
  padding-left: 100px;
  padding-bottom: 20px;
  height: 50px;
  margin-bottom: 0px;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.navbarElt {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
}
