.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--accent-color);
}

.socialIcons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialIcons a {
  color: var(--accent-color);
  transition: opacity 0.2s ease;
}

.socialIcons a:hover {
  opacity: 0.8;
}

.bioTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bioName {
  color: var(--accent-color);
  text-align: left;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

.bioText {
  color: var(--accent-color);
  text-align: left;
  font-size: 1.1rem;
  margin-top: 0;
}

.bioText a {
  color: var(--accent-color);
  text-decoration: underline;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0rem;
}

.resumeButton {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    color: gray;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.2s ease;
    margin-bottom: 1rem;
  }

.resumeButton:hover {
    transform: translateX(5px);
    opacity: 0.9;
}